@model FutureValue.Models.FutureValueModel

@{
    Layout = null;
}
<h1>Future Value Calculator</h1>
<form asp-action="Index" , method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label>Monthly Investment:</label>
        <input asp-for="MonthlyInvestment"/>
    </div>
    <div>
        <label>Yearly Interest Rate:</label>
        <input asp-for="Apr"/>
    </div>
    <div>
        <label>Number of Years:</label>
        <input asp-for="Years"/>
    </div>
    <div>
        <label>Future Value</label>
        <input value="@ViewBag.FV.ToString("C2")" readonly/>
    </div>
    <button type="submit">Calculate</button>
    <a asp-action="Index">Clear</a>
</form>